In [2]:
import pandas as pd 
import numpy as np
import matplotlib as plt

In [3]:
# Importing dataset
df=pd.read_csv('C:\\Users\\shamoo\\Assignment Data.csv')
print("Data is imported successfully")

Data is imported successfully

In [5]:
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,NaN,NaN,NaN
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,NaN,NaN,NaN
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,NaN,NaN,NaN
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,NaN,NaN,NaN
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,NaN,NaN,NaN

In [6]:
df.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'taster_name',
       'taster_twitter_handle', 'title', 'variety', 'winery', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16'],
      dtype='object')

In [7]:
# Statistical Description of dataset
df.describe()

,Unnamed: 0,points,price,Unnamed: 14,Unnamed: 15,Unnamed: 16
count,129971.000000,129971.000000,120975.000000,0.0,0.0,0.0
mean,64985.000000,88.447138,35.363389,NaN,NaN,NaN
std,37519.540256,3.039730,41.022218,NaN,NaN,NaN
min,0.000000,80.000000,4.000000,NaN,NaN,NaN
25%,32492.500000,86.000000,17.000000,NaN,NaN,NaN
50%,64985.000000,88.000000,25.000000,NaN,NaN,NaN
75%,97477.500000,91.000000,42.000000,NaN,NaN,NaN
max,129970.000000,100.000000,3300.000000,NaN,NaN,NaN